node_modules
dist
.env
backend/.env
.DS_Store
*.tsbuildinfo
__pycache__/
*.pyc
vite.config.js
vite.config.d.ts
tailwind.config.d.ts
certs/rootCA.pem
certs/dev-cert.pem
certs/dev-key.pem
backend/.venv
backend/__pycache__
backend/data/faces
backend/data/users.json
